

.btn-field{
    border: 2 px;
    margin: 10px;
    padding: 10px;
    color: black;
   

}

.inputfield{
    color: black;
   
}
.btn{
    color: black;
    background-color: blue;
    margin: 10px;
    padding:10px;
}